@import 'tailwindcss';

@theme {
  --color-CustomDarkGrey: #141414;
  --color-custom-dark-grey: #141414;
  --color-WindowBorder: #393939;
  --color-window-border: #393939;
  --color-JSYellow: #f1dd50;
  --color-js-yellow: #f1dd50;
  --color-TSBlue: #3179c7;
  --color-ts-blue: #3179c7;
  --color-cblack: #141414;
  --color-modalBg: #f9fafb;
  --color-modal-bg: #f9fafb;
  --color-PearlLusta: #fcf4de;
  --color-pearl-lusta: #fcf4de;

  --spacing-7vh: 7vh;
  --spacing-93vh: 93vh;
}

@utility h-7vh {
  height: 7vh;
}

@utility h-93vh {
  height: 93vh;
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    font-family: 'Inter', sans-serif, 'Courier New', Courier, monospace;
  }

  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@layer utilities {
  .no-select {
    user-select: none;
  }

  .split {
    display: flex;
    flex-direction: row;
  }

  .gutter {
    background-color: #141414;
    background-repeat: no-repeat;
    background-position: 50%;
    border-right: 1px solid #393939;
  }

  .gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
  }
}
