@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif, 'Courier New', Courier, monospace;
}

.no-select {
  user-select: none;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #141414;
  background-repeat: no-repeat;
  background-position: 50%;
  border-right: 1px solid #393939;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}
